@import "main";

header {
  color: $textColorLight;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include adaptiveValue("padding-block", 30, 15);
  font-weight: 400;
  max-width: toRem(1300);
  width: 100%;
  padding-inline: toRem(15);
  display: flex;
  flex-direction: column;
  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
}

.scrolled {
  background: $backgroundColorLight;
  color: $textColorDark !important;
}