<div class="new-in-section">
  <h3 class="title"><a href="#">New in</a></h3>

  <div class="catalog-new-product">
    <div class="card">
      <a href="#" class="link-women">Women’s</a>
      <a href="#" class="img-link">
        <img src="assets/image/new-collection/image1.webp" alt="girl in new collection on the street">
      </a>
    </div>

    <div class="card">
      <a href="#" class="link-men">Men`s</a>
      <a href="#" class="img-link">
        <img src="assets/image/new-collection/image3.webp" alt="brown jacket">
      </a>
    </div>
  </div>
</div>
