@import "main";

.footer-block {
  color: $textColorDark;
  @include adaptiveValue("padding-top", 60, 20);
  @include adaptiveValue("padding-bottom", 35, 10);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: toRem(1300);
  justify-content: space-between;
}
.footer-line {
  width: 100%;
  height: toRem(1);
  background-color: $textColorDark;
  @include adaptiveValue("margin-top", 20, 10);
}
.footer-top-logo {
  margin: 0 auto;
}
.home-link {
  font-family: $fontSora;
  @include adaptiveValue("font-size", 96, 45);
  line-height: 1.2;
  text-transform: uppercase;
}
.footer-bottom-block {
  padding-inline: toRem(10);
  max-width: toRem(1188);
  width: 100%;
  margin: 0 auto;
  @include adaptiveValue("padding-top", 50, 20);
  display: flex;
  gap: toRem(40);
  justify-content: space-between;
}
.additional-info-block {
  display: flex;
  justify-content: space-between;
  max-width: toRem(548);
  width: 100%;
  @include adaptiveValue("gap", 60, 15);
}
.subscribe-container {
  font-family: $fontHelvetica-neue;
  max-width: toRem(410);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include adaptiveValue("gap", 30, 15);

  &__title {
    white-space: nowrap;
    font-weight: 500;
    @include adaptiveValue("font-size", 18, 10);
    line-height: 1.5;
    text-transform: uppercase;
  }
}
.subscribe-block {
  border-bottom: toRem(0.5) solid $textColorDark;
  input {
    font-family: $fontHelvetica-neue;
    @include adaptiveValue("font-size", 16, 8);
    line-height: 1.5;
    border: 0;
    box-shadow: none;
    padding-left: 0;
  }
}
.privicy-statement {
  p {
    font-weight: 400;
    line-height: 1.5;
    @include adaptiveValue("font-size", 14, 6);

    a {
      text-decoration: underline;
    }
  }
}
.orderin-container,
.about-us-container,
.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  @include adaptiveValue("gap", 30, 15);

  h5 a {
    flex-shrink: 1;
    white-space: nowrap;
    font-family: $fontHelvetica-neue;
    line-height: 1.5;
    @include adaptiveValue("font-size", 16, 12);
    text-decoration: underline;
    transition: all ease 0.4s;

    &:hover {
      transform: scale(1.05);
      transition: all ease 0.4s;
    }
  }
}
.list-delivery-support-services,
.list-about-us {
  display: flex;
  flex-direction: column;
  gap: toRem(10);
}
.item {
  white-space: nowrap;
  font-family: $fontLato;
  line-height: 1.5;
  @include adaptiveValue("font-size", 14, 12);
  transition: all ease 0.4s;

  &:hover {
    transform: scale(1.05);
    transition: all ease 0.4s;
  }
}
.list-social-media {
  width: 100%;
  display: flex;
  gap: toRem(10);
  align-items: center;
}
.link-instagram,
.link-facebook {
  width: toRem(18);
  height: toRem(18);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease 0.4s;

  &:hover {
    transform: scale(1.09);
    transition: all ease 0.4s;
  }
}
.link-facebook {
  background-image: url("../../../../../assets/icons/facebook.svg");
}
.link-instagram {
  background-image: url("../../../../../assets/icons/instagram.svg");
}
