<div class="footer-block">
  <!-- top -->
  <div class="footer-top-logo">
    <h1><a href="#" class="home-link">Dressify</a></h1>
  </div>

  <!-- line -->
  <div class="footer-line"></div>
  <!-- bottom -->
  <div class="footer-bottom-block">
    <!-- subscribe -->
    <div class="subscribe-container">
      <h4 class="subscribe-container__title">Subscribe to our newsletter</h4>

      <div class="subscribe-block">
        <p-inputgroup>
          <input class="custom-input" type="email" pInputText placeholder="E-mail" [(ngModel)]="email" required email />
        </p-inputgroup>
      </div>
      <app-subscribe-button></app-subscribe-button>
      <div class="privicy-statement">
        <p>By clicking on “Subscribe”, you confirm that you have read and understood our <a href="#">Privacy
            Statement</a> and that you want to receive the newsletter and other marketing communication as set out
          therein.</p>
      </div>
    </div>

    <!-- Additional info -->
    <div class="additional-info-block">
      <!-- ordering -->
      <div class="orderin-container">
        <h5><a href="#">Ordering and support</a></h5>

        <ul class="list-delivery-support-services">
          <li class="item">
            <a href="#" class="link">Contact us</a>
          </li>
          <li class="item">
            <a href="#" class="link">FAQ</a>
          </li>
          <li class="item">
            <a href="#" class="link">Delivery</a>
          </li>
          <li class="item">
            <a href="#" class="link">Order history</a>
          </li>
          <li class="item">
            <a href="#" class="link">Return</a>
          </li>
        </ul>
      </div>

      <!-- about us -->
      <div class="about-us-container">
        <h5><a href="#">About us</a></h5>

        <ul class="list-about-us">
          <li class="item">
            <a href="#" class="link">Our history</a>
          </li>
          <li class="item">
            <a href="#" class="link">Privacy Policy</a>
          </li>
          <li class="item">
            <a href="#" class="link">Cookie Policy</a>
          </li>
          <li class="item">
            <a href="#" class="link">Terms & Conditions</a>
          </li>
        </ul>
      </div>

      <!-- social media -->
      <div class="social-media-container">
        <h5><a href="#">Social media</a></h5>

        <ul class="list-social-media">
          <li class="item">
            <a class="link-instagram" href="#">
            </a>
          </li>
          <li class="item">
            <a class="link-facebook" href="#">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

