:host {
  display: block;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
app-header {
  z-index: 1000;
}
.hero-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
app-hero-banner {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.52);
    z-index: -1;
  }

  background-image: url(../../../../assets/image/main_page/main_img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-content {
  flex: 1;
}
