@import "../../../../../styles/base/mixins";
@import "../../../../../styles/base/colors";

.special-sale {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  @include adaptiveValue('height', 668, 396);
  background-image: url(../../../../../assets/image/sale_block/sale-img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  @include adaptiveValue('padding-left', 85, 6);
  @include adaptiveValue('padding-bottom', 96, 21);
}
.info-block {
  display: flex;
  flex-direction: column;
  @include adaptiveValue('gap', 20, 8);
  justify-content: space-between;
}
.title {
  font-family: $fontHeiti;
  font-weight: 300;
  line-height: 1.5;
  color: $textColorLight;
  @include adaptiveValue('font-size', 40, 20);
}
