<div class="brands">
  <div class="card">
    <a class="title-link" href="#">Tom Ford</a>
    <div class="wrapper-img">
      <a href="#" class="img-link">
        <img src="assets/image/new-collection/image2.webp" alt="fashion show">
      </a>
    </div>
  </div>
  <div class="card">
    <a class="title-link" href="#">Prada</a>
    <div class="wrapper-img">
      <a href="#" class="img-link">
        <img src="assets/image/new-collection/image4.webp" alt="guy in a stylish shirt and coat">
      </a>
    </div>
  </div>
</div>
