@import "main";

.brands {
  padding-inline: toRem(10);
  margin: 0 auto;
  max-width: toRem(1300);
  overflow: hidden;
  @include adaptiveValue("padding-block", 60, 20);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, toRem(635)));
  @include adaptiveValue("column-gap", 30, 5);
}
.card {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 20, 7);

  a {
    width: 100%;
    font-family: $fontHeiti;
    font-weight: 300;
    @include adaptiveValue("font-size", 34, 18);
    line-height: 1.5;
  }
}
.wrapper-img {
  max-width: toRem(635);
  width: 100%;
}
.img-link {
  max-width: toRem(635);
  max-height: toRem(535);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 635/535;
    vertical-align: middle;
  }
}
