@import "main";

:host {
  overflow: hidden;
  width: 100%;
}
.bottom-block {
  font-family: "Sora", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: toRem(10);
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include adaptiveValue("gap", 40, 1);
  font-family: "Sora", sans-serif;
  @include adaptiveValue("font-size", 16, 12);
  text-transform: capitalize;
  line-height: 1.5;
}
.item {
  flex-shrink: 0;
  flex-basis: auto;
}
.link {
}
.card {
  border: toRem(0.5) solid $textColorLight;
  border-radius: toRem(6);
  // }
  .p-inputgroup {
    font-family: $fontHelvetica-neue;
    @include adaptiveValue("font-size", 16, 8);

    input::placeholder {
      color: $textColorLight;
    }
    input, p-inputgroup-addon {
      background: transparent;
      border: 0;
    }

    .p-button-secondary {
      &::before {
      color: $textColorLight !important;
    }}
  }
}
