<div class="bottom-block">
  <nav class="bottom-header-nav">
    <ul class="list">
      <li class="item">
        <a href="#" class="link">New in</a>
      </li>
      <li class="item">
        <a href="#" class="link">Brands</a>
      </li>
      <li class="item">
        <a href="#" class="link">Clothing</a>
      </li>
      <li class="item">
        <a href="#" class="link">Shoes</a>
      </li>
      <li class="item">
        <a href="#" class="link">Bags</a>
      </li>
      <li class="item">
        <a href="#" class="link">accessories</a>
      </li>
      <li class="item">
        <a href="#" class="link">Homeware</a>
      </li>
      <li class="item">
        <a href="#" class="link">Sale</a>
      </li>
    </ul>
  </nav>

  <div class="card flex flex-col md:flex-row gap-4">
    <p-inputgroup>
      <input pInputText placeholder="Search on the site" />
      <p-inputgroup-addon>
        <p-button icon="pi pi-search" severity="secondary" variant="text" />
      </p-inputgroup-addon>
    </p-inputgroup>
    <!-- <p-menu #menu [model]="items" popup styleClass="!min-w-fit" /> -->
  </div>
</div>
