<div class="bestsellers">
  <h3 class="title"><a href="#">Bestseller</a></h3>

  <div class="bestsellers-product">
    <!-- for her -->
      <div class="card">
        <a href="#" class="link-women">Women’s</a>
        <a href="#" class="img-link">
          <img src="../../../../../assets/image/bestsellers/womens.webp" alt="pink women's sneakers">
        </a>
      </div>
      <!-- for him -->
      <div class="card">
        <a href="#" class="link-men">Men`s</a>
        <a href="#" class="img-link">
          <img src="../../../../../assets/image/bestsellers/mens.webp" alt="brown jacket">
        </a>
      </div>
    </div>

  </div>
