::ng-deep .flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .p-dialog {
  border-radius: 0;
  width: 35%;
  // @include adaptiveValue('width', 475, 300);
  // max-width: toRem(475);
  // min-width: toRem(300);
  @include adaptiveValue("padding-block", 30, 10);
  @include adaptiveValue("padding-inline", 26, 8);
  gap: toRem(10);
}
::ng-deep .p-dialog-header {
  padding: 0;
}
::ng-deep .p-inputtext {
  border-radius: 0;
  padding-top: toRem(10);
  ::placeholder {
    font-size: toRem(14);
  }
}
::ng-deep.p-inputtext:enabled:focus {
  border-color: $textColorDark;
}
::ng-deep .userpassword i {
  position: absolute;
}

::ng-deep .userpassword i {
  right: toRem(10);
  cursor: pointer;
  transform: translateY(100%) !important;
  position: absolute;
  top: 24% !important;
}
