<div class="auth-block">
<div class="dialog-title">Sign Up</div>

<form [formGroup]="authData" class="flex flex-column align-items-center mt-2 auth-block__form">
  <p-message *ngIf="registrationErrorMessage" severity="error" [text]="registrationErrorMessage"></p-message>
  <div class="form-wrap">
  <!-- Email -->
  <div class="card p-1">
    <div class="flex flex-column gap-1">
      <label class="dialog-label" for="useremail">Email</label>
      <input class="dialog-input" pInputText id="useremail" formControlName="email" placeholder="lanaluk1977@gmail.com" />
      <p-message *ngIf="authData.get('email')?.hasError('email')" severity="error" variant="simple">
        Incorrect email
      </p-message>
    </div>
  </div>

  <!-- Password -->
  <div class="card p-1">
    <div class="flex flex-column gap-1 relative">
      <label class="dialog-label" for="userpassword">Password</label>
      <div class="flex align-items-center gap-1 relative">
        <input [type]="isPasswordVisible ? 'text' : 'password'" pInputText id="userpassword" formControlName="password"
          placeholder="ХХХХХХ" class="flex-1 pr-4 dialog-input" />
          <i class="pi" [class.pi-eye-slash]="isPasswordVisible" [class.pi-eye]="!isPasswordVisible" (click)="togglePasswordVisibility()"></i>
      </div>
      <p-message *ngIf="authData.get('password')?.touched && authData.get('password')?.hasError('pattern')" severity="error" variant="simple">
        Password must contain numbers, uppercase, and lowercase letters
      </p-message>

    </div>
  </div>

  <!-- Re-enter Password -->
  <div class="card p-1">
    <div class="flex flex-column gap-1 relative">
      <label class="dialog-label" for="repassword">Re-password</label>
      <div class="flex align-items-center gap-1 relative">
        <input [type]="isPasswordVisible ? 'text' : 'password'" pInputText id="repassword" formControlName="rePassword"
          placeholder="ХХХХХХ" class="flex-1 pr-4 dialog-input" />
          <i class="pi" [class.pi-eye-slash]="isPasswordVisible" [class.pi-eye]="!isPasswordVisible" (click)="togglePasswordVisibility()"></i>
      </div>
      <p-message *ngIf="authData.get('rePassword')?.touched && authData.get('rePassword')?.hasError('passwordsNotMatch')" severity="error" variant="simple">
        Passwords do not match
      </p-message>
    </div>
  </div>

  <!-- forgotten-remember block -->
  <div class="flex justify-content-between align-items-center text-xs mt-3 reminder-top">
    <a href="#" class="forgotten-password">Forgotten password?</a>
    <div class="flex align-items-center gap-1 reminder-data rememberme-block">
      <p-checkbox class="input-cheked" formControlName="rememberMe" id="rememberme" [binary]="true" />
      <label class="label-rememberme" for="rememberme">Remember me</label>
    </div>
  </div>

<!-- Action block -->
<div class="flex flex-column align-items-center gap-4 mt-4 additional-info">

  <div class="card w-full md:w-25rem flex flex-column gap-3 confirms-block">
    <p-button
    (click)="onSubmit()"
    class="auth-btn"
    label="Sign Up"
    [disabled]="!authData.get('email')?.valid
      || authData.get('password')?.invalid
      || authData.get('rePassword')?.invalid"
    [loading]="loading"
    (onClick)="load()">
    </p-button>

    <p-button
    severity="secondary"
    [link]="true"
    class="login-google-btn"
    label="Sign up with Google"
    variant="outlined"
  ></p-button>

    </div>
    <!-- By clicking on the ‘Register’ -->
    <div class="privat-policy">
      <a href="#">By clicking on the ‘Register’ button, you agree to the terms and conditions of the publication ‘About the Public’, agree to the privacy policy.</a>
    </div>
  <div class="text-center flex align-items-center gap-2 additional-info-bottom">
    <a href="#">Don’t have an account?</a>
    <a class="additional-info-bottom__login font-medium text-primary cursor-pointer" (click)="openLogIn()">Log In</a>
  </div>
</div>
  </div>
</form>
</div>
