$textColorDark: #333333;
$textColorLight: #FEFFFC;
$backgroundColorLight: #FEFFFC;
$backgroundDarc: #383838;
$lineLight: #B0ABAB;
$textGray: #CCC9C9;
$textPolici: #BABABA;
$textBlack: #000;
$textWhite: #fff;
// кольори кнопок в різному стані
$hoverBtnDarck: #494747;
$clickBtnDark: #262626;
$hoverBtnLight: #F1F1F1;
$clickBtnLight: #FEFFFC;
$disabledBtn: #B0ABAB;

$placeholder: #B7B8B9;
$borderColorInput: #C1BCBC;
$borderColorBottom: #B0ABAB;
